.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dialogItems {

}

.dialog {
    padding: 10px 0;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}

.active {
    color: gold;
}

.messages {
    padding: 20px;
    color: white;

}

.message {

}


